main {
  background-color: #ffffff;
  color: #282d35;
  padding-top: 40px;
  height: 459px;
  background-repeat: no-repeat;
  background-position: 100% 75%;
  width: 550px;
}

main.dark {
  background-color: #282d35;
  color: #ffffff;
}

main > h1 {
  margin: 0 0 30px 20px;
  font-size: 39px;
  font-weight: 700;
  line-height: 47px;
  letter-spacing: -0.05em;
  text-align: left;
  /* color: #ffffff; */
}

main > ul {
  margin-left: 20px;
  /* color: #ffffff; */
  font-size: 16px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  max-width: 70%;
}

ul li::marker {
  color: #61dafb;
  font-size: 1.5rem;
}

ul li::marker {
  color: #282d35;
  font-size: 1.5rem;
}

main.dark > ul li::marker {
  color: #61dafb;
  font-size: 1.5rem;
}

svg {
  stroke: red;
}
