*,
::before,
::after {
  box-sizing: border-box;
}

body {
  display: flex;
  /* justify-content: center;
  align-items: center; */
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: rgb(215, 203, 203);
}

#root {
  font-family: "Inter", sans-serif;
  margin: auto;
}
