.sidebar {
  padding: 0.5em 0 0.5em 0.5em;
  overflow: auto;
}

.sidebar__header {
  display: flex;
  gap: 0.5em;
  margin-bottom: 1em;
  align-items: center;
}

.sidebar__header__btn {
  background-color: #4a4e74;
  color: white;
  border: none;
  padding: 0.2em 0.4em;
}

.sidebar__header__btn:hover,
.sidebar__header__btn:focus {
  opacity: 0.75;
}

.sidebar__header__heading {
  font-size: 1.2rem;
}

.sidebar__note__title {
  font-size: 0.8rem;
  padding: 0.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar__note {
  display: flex;
  justify-content: space-between;
}

.sidebar__note__btn {
  display: none;
  background-color: transparent;
  border: none;
}

.sidebar__note__btn--selected {
  display: block;
}

.sidebar__note--selected {
  background-color: #4a4e74;
  color: #ffffff;
}

.split {
  display: flex;
}

.no-notes {
  width: 100%;
  height: 100vh;
  display: flex;
  gap: 1em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}

.first-note-btn {
  cursor: pointer;
  background-color: #4a4e74;
  border: none;
  color: white;
  border-radius: 3px;
  padding: 0.5rem;
}
