.sidebar {
  padding: 0.5em;
  overflow: auto;
}

.sidebar__header {
  display: flex;
  gap: 0.5em;
  margin-bottom: 1em;
  align-items: center;
}

.sidebar__header__btn {
  background-color: #4a4e74;
  color: white;
  border: none;
  padding: 0.2em 0.4em;
}

.sidebar__header__btn:hover,
.sidebar__header__btn:focus {
  opacity: 0.75;
}

.sidebar__header__heading {
  font-size: 1.2rem;
}

.sidebar__note__title {
  font-size: 0.8rem;
  padding: 0.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* display: flex;
  justify-content: space-between;
  flex-wrap: wrap; */
}

.sidebar__note {
  display: flex;
  gap: 1em;
}

.sidebar__note__btn {
  display: none;
  background-color: transparent;
  border: none;
}

.sidebar__note:hover .sidebar__note__btn {
  display: block;
}

.sidebar__note--selected {
  background-color: #4a4e74;
  color: #ffffff;
}

.split {
  display: flex;
}

.no-notes {
  width: 100%;
  height: 100vh;
  display: flex;
  gap: 1em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}

.first-note-btn {
  cursor: pointer;
  background-color: #4a4e74;
  border: none;
  color: white;
  border-radius: 3px;
  padding: 0.5rem;
}

.trash-solid.icon {
  color: #000;
  margin-left: 5px;
  margin-top: 7px;
  width: 9px;
  height: 10px;
  border-left: solid 1px currentColor;
  border-right: solid 1px currentColor;
  border-bottom: solid 1px currentColor;
  border-radius: 0 0 2px 2px;
  background-color: currentColor;
}

.trash-solid.icon:before {
  content: "";

  width: 17px;
  height: 1px;
  background-color: currentColor;
}

.trash-solid.icon:after {
  content: "";
  left: 0px;
  top: -5px;
  width: 7px;
  height: 2px;
  border-left: solid 1px currentColor;
  border-right: solid 1px currentColor;
  border-top: solid 1px currentColor;
  background-color: currentColor;
  border-radius: 4px 4px 0 0;
}
