.entry {
  display: flex;
  width: 550px;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #ffffff;
  align-items: center;
}

.entry:last-of-type {
  padding-bottom: 40px;
}

.entry--location-image {
  width: 125px;
  height: 168px;
  border-radius: 5px;
}

.entry--right-section {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-top: 12px;
  padding-left: 15px;
}

.entry--description {
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
}

.entry--start-and-end-date {
  font-family: Inter;
  font-size: 10px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
}

.entry--location,
.entry--google-maps,
.entry--description {
  font-family: Inter;
  font-size: 10px;
  font-weight: 400;
}

.entry--location {
  letter-spacing: 0.17rem;
  text-transform: uppercase;
  margin-right: 10px;
}

.entry--title {
  margin-top: 5px;
}

.entry--location-icon {
  margin-right: 5px;
}

.wrapper {
  display: flex;
  align-items: center;
}
