*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Karla", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: rgb(0, 0, 0);
}

#root {
  margin: auto;
  width: 550px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;
}
