.meme-generator {
  padding: 2em 2em;
  display: flex;
  flex-direction: column;
}

.meme-generator__form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.meme-generator__line {
  width: 48.5%;
  border: 1.5px solid #d5d4d8;
  border-radius: 5px;
  font-size: 0.8rem;
  height: 2.7em;
  padding: 0.8em;
  font-family: inherit;
}

.meme-generator__input-wrapper {
  width: 100%;
  display: flex;
  gap: 3%;
}

.meme-generator__btn {
  margin-top: 1em;
  height: 2.7em;
  background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
  border-radius: 5px;
  font-size: 1rem;
  color: #fff;
  display: flex;
  font-weight: 700;
  justify-content: center;
  align-items: center;
  border: none;
}

.meme-generator__image-wrapper {
  position: relative;
}
.meme-generator__meme {
  width: 100%;
  margin: 2em 0 1em;
}

.meme-generator__top-line
/* .meme-generator__bottom-line  */ {
  font-family: Impact, sans-serif;
  font-weight: 900;
  font-size: 2rem;
  color: #fff;
  line-height: 2.1em;
  position: absolute;
  left: 40%;
  top: 10%;
  text-transform: uppercase;
}

.meme-generator__bottom-line
/* .meme-generator__bottom-line  */ {
  font-family: Impact, sans-serif;
  font-weight: 900;
  font-size: 2rem;
  color: #fff;
  line-height: 2.1em;
  position: absolute;
  left: 21%;
  bottom: 6%;
  text-transform: uppercase;
}
