.hero {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  font-family: "Poppins", sans-serif;
  width: 550px;
  background-color: #ffffff;
  position: relative;
  z-index: -1;
}

.hero__image-wrapper__image {
  width: 395.91px;
  height: 232px;
  margin-top: 30px;
}

.hero__text-wrapper {
  padding-left: 37px;
  text-align: left;
  width: 100%;
}

.hero__text-wrapper__heading {
  width: 347px;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 110%;
  margin-bottom: 10px;
}

.hero__text-wrapper__text {
  width: 320px;
  font-weight: 300;
  font-size: 16px;
  line-height: 110%;
}
