.die {
  /* grid-row: span 1; */
  border-radius: 10px;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 3.57447px 3.57447px rgba(0, 0, 0, 0.1);
  font-size: 2em;
  font-weight: lighter;
  background-color: #ffffff;
}

.die--selected {
  background-color: #59e391;
}
